#root {
  --main-background-color: rgb(9, 12, 2);
  --main-emphasis-color: rgb(175, 161, 70);
}

.link-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  width: 100%;
}

.link-container a {
  align-self: center;
  background-color: var(--main-emphasis-color);
  border-radius: 5px;
  font-weight: 600;
  justify-self: center;
  padding: 0.5em 1em;
  text-decoration: none;
}

a:hover {
  background-color: rgb(192, 175, 67);
}

.project-card {
  background-image: linear-gradient(rgb(254, 254, 254), rgb(221, 221, 221));
  /* box-shadow: (-8px 12px 6px rgba(3, 3, 3, 0.95)); */
  box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 25px;
  border-radius: 5px;
  height: 95%;
  transition: 300ms ease;
  overflow-y: hidden;
  width: 26%;
}

.project-card:hover {
  box-shadow: rgba(255, 255, 247, 0.2) 0px 4px 8px;
  cursor: pointer;
}

.image-container {
  height: 45%;
  overflow: hidden;
  width: 100%;
}

.image-container img {
  height: 100%;
  width: 100%;
}

.content-container {
  padding: 1em 1em;
  margin-bottom: 1em;
}

.content-container h3 {
  color: var(--main-emphasis-color);
  margin-bottom: 1em;
}

.card-techs {
  /* align-items: center; */
  display: flex;
  height: 15%;
  justify-content: center;
  padding: 0.5em;
  margin-bottom: 1em;
  width: 100%;
}

.card-techs img {
  height: 75%;
  width: 75%;
}
