*:focus {
  outline: none;
}

.contact-section {
  background-color: var(--main-background-color);
  background-image: url('../images/fancy-pants-tr.png');
  background-position: center bottom;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  padding: 1em;
  width: 100vw;
}

.contact-left-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.contact-title-container {
  color: var(--main-emphasis-color);
  padding: 2em 0 0 2em;
  height: 30%;
  overflow-y: hidden;
  width: 300px;
}

.contact-title-container h2 {
  font-size: 2.8em;
  overflow-y: hidden;
}

.contact-left-container .form-container {
  padding: 0 2em 0;
  overflow-y: hidden;
}

.contact-left-container label {
  color: white;
  display: block;
}

.contact-left-container input, textarea {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--main-emphasis-color);
  border-radius: 5px;
  color: white;
  display: block;
  margin-bottom: 1em;
  padding: 0.5em;
}

.contact-left-container button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  margin-top: 1em;
  padding: 0.5em 2em;
  transition: 300ms ease;
}

.contact-left-container button:enabled {
  background-color: var(--main-emphasis-color);
  color: white;
}

.contact-img-container {
  align-items: center;
  animation: image 0.4s ease-out;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  height: 90%;
  justify-content: center;
  margin-right: 1em;
  width: 50%;
}

.contact-img-container .hiring-people-png {
  filter: drop-shadow(-8px 12px 6px rgba(3, 3, 3, 0.95));
  height: 100%;
  width: 100%;
}