footer {
  align-items: center;
  background-color: var(--main-background-color);
  background-image: url('../images/fancy-pants-tr.png');
  background-position: center top;
  border-top: 2px solid white;
  border-style: dashed;
  display: flex;
  height: 25vh;
  justify-content: space-between;
  padding: 1em 2em;
}

footer h4 {
  color: var(--main-emphasis-color);
  margin-bottom: 1em;
}

footer p, a {
  color: white;
  margin-bottom: 0.5em;
  transition: 300ms ease;
}

footer a, a:visited, a:active {
  display: block;
  text-decoration: none;
}

footer a:hover {
  color: var(--main-emphasis-color);
}

.footer-button-container {
  align-items: center;
  border: 1px solid var(--main-emphasis-color);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 3em;
  font-weight: 800;
  height: 80px;
  justify-content: center;
  overflow-y: hidden;
  transition: 300ms ease;
  width: 80px;
}

.footer-button-container:hover {
  background-color: var(--main-emphasis-color);
}
