@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  --main-background-color: rgb(9, 12, 2);
  --main-emphasis-color: rgb(175, 161, 70);
}

.section-pages {
  background-color: var(--main-background-color);
  background-image: url('../images/fancy-pants-tr.png');
  background-position: center bottom;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  padding: 1em;
  width: 100vw;
}

.presentation-container {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 2em 2em 4em 2em;
  width: 35%;
}

.logo {
  animation: text 0.3s linear;
  overflow-y: hidden;
}

.presentation-container h2 {
  color: var(--main-emphasis-color);
}

.presentation-container .logo span {
  letter-spacing: 0.33em;
}

.skills-description {
  animation: text 0.6s linear;
  overflow-y: hidden;
}

.presentation-container .skills-description h2 {
  font-size: 2.8em;
  margin-bottom: 0.5em;
}

.presentation-img-container {
  align-items: center;
  animation: image 0.4s ease-out;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  height: 100%;
  width: 65%;
}

.presentation-img-container-loop {
  align-items: center;
  animation: imageLoop 2s linear infinite;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  height: 100%;
  width: 65%;
}

.presentation-img-container-loop .website-hosting-png {
  filter: drop-shadow(-8px 12px 6px rgba(3, 3, 3, 0.95));
  height: 100%;
  width: 100%;
}

.presentation-img-container .website-hosting-png {
  filter: drop-shadow(-8px 12px 6px rgba(3, 3, 3, 0.95));
  height: 100%;
  width: 100%;
}

.section-page-projects {
  background-color: var(--main-background-color);
  background-image: url('../images/fancy-pants-tr.png');
  background-position: center top;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1em;
  width: 100vw;
}

.title-container {
  color: var(--main-emphasis-color);
  padding: 2em 0 0 2em;
  height: 30%;
  overflow-y: hidden;
  width: 300px;
}

.title-container h2 {
  font-size: 2.8em;
  overflow-y: hidden;
}

.project-cards-container {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: space-between;
  height: 52em;
  justify-self: center;
  width: 95%;
}


.more-projects {
  align-items: center;
  color: white;
  display: flex;
  padding: 2em 0 0 2em;
  height: 30%;
  overflow-y: hidden;
  width: 300px;
}

.more-projects h2 {
  font-size: 2.8em;
  transition: 400ms ease;
}

.more-projects h2:hover {
  color: var(--main-emphasis-color);
  cursor: pointer;
}

@keyframes text {
  0% { opacity: 0;}

  25% { opacity: 25%; }

  50% { opacity: 50%; }

  75% { opacity: 75%; }

  100% { opacity: 100%; }
}

@keyframes image {
  0% { transform: translate(40px, 40px); opacity: 0;}

  10% { transform: translate(35px, 35px); opacity: 0;}

  20% { transform: translate(30px, 30px); opacity: 0;}

  40% { transform: translate(25px, 25px); opacity: 0;}

  50% { transform: translate(20px, 20px); opacity: 10%; }

  60% { transform: translate(15px, 15px); opacity: 20%; }

  70% { transform: translate(10px, 10px); opacity: 30%; }

  80% { transform: translate(5px, 5px); opacity: 40%; }

  100% { transform: 0, 0; opacity: 100%; }
}

@keyframes imageLoop {
  0% { transform: translate(0, 0); }

  10% { transform: translate(2, 1px); }

  20% { transform: translate(0, 2px); }

  40% { transform: translate(-2, 1px); }

  50% { transform: translate(0, 0); }

  60% { transform: translate(2, -1px); }

  70% { transform: translate(0, -2px); }

  80% { transform: translate(-2, -1px); }

  100% {  transform: translate(0, 0); }
}
